@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'variable', 'mixin';
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ================================
// custom section css
// ================================
html{
    scroll-behavior: smooth;
}

// ================================
// End custom section css
// ================================



// ================================
// body section css
// ================================
body{

    // ================================
    // header section css
    // ================================
    header{
        background-color: $bglight;
    }
    // ================================
    // End header section css
    // ================================


    // ================================
    // main section css 
    // ================================
    main{

        // ================================
        // home section css 
        // ================================
        section#home{

        }
        // ================================
        // End home section css
        // ================================


        // ================================
        // about section css 
        // ================================
        section#home{

        }
        // ================================
        // End about section css
        // ================================


        // ================================
        // service section css 
        // ================================
        section#service{

        }
        // ================================
        // End service section css
        // ================================


        // ================================
        // portfolio section css 
        // ================================
        section#portfolio{

        }
        // ================================
        // End portfolio section css
        // ================================


        // ================================
        // team section css 
        // ================================
        section#team{

        }
        // ================================
        // End team section css
        // ================================


        // ================================
        // pricing section css 
        // ================================
        section#pricing{

        }
        // ================================
        // End pricing section css
        // ================================


        // ================================
        // contact section css 
        // ================================
        section#contact{

        }
        // ================================
        // End contact section css
        // ================================


        


    }
    // ================================
    // End main section css
    // ================================



    // ================================
    // footer section css 
    // ================================
    footer{

    }
    // ================================
    // End footer section css
    // ================================



}
// ================================
// End body section css
// ================================



