

$blue-color: rgb(55, 81, 126);
$white-color: rgb(255, 255, 255);
$skyblue-color: rgb(71, 178, 228);
$light-white-color: rgba(255, 255, 255, 0.7);
$light-black-color: rgb(68, 68, 68);
$light-background-color: rgb(245, 246, 248);



